<ion-view hide-nav-bar="true" can-swipe-back="false" class="menu-left">
  <ion-content class="padding">
  <div class="sortby">
	<h1>Sort By</h1>
	<ul>
		<h1>Features</h2>
		<li><a href="#/app/home_list">3G Data Capability</a></li>
		<li><a href="#/app/home_list">4G Data Capability</a> <span><img src="img/tick.png" /></span></li>
		<li><a href="#/app/home_list">Bluetooth Enabled</a></li>
		<li><a href="#/app/home_list">Dual SIM</a></li>
		<li><a href="#/app/home_list">GPS</a> <span><img src="img/tick.png" /></span></li>
	</ul>
	<ul>
		<h1>Brand</h2>
		<li><a href="#/app/home_list">Apple</a></li>
		<li><a href="#/app/home_list">HTC</a> <span><img src="img/tick.png" /></span></li>
		<li><a href="#/app/home_list">Nokia</a></li>
	</ul>
	<ul>
		<h1>Color</h2>
		<li><a href="#/app/home_list">Black</a></li>
		<li><a href="#/app/home_list">White</a></li>
	</ul>
   </div>
    </ion-content>
</ion-modal-view>
